<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let i of products;" (click)="getProductByName(i.product)">
    <ion-card-header>
      <ion-card-title>{{i.product}}</ion-card-title>
      <ion-card-subtitle>{{i.precio}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{i.descripcion}} </ion-card-content>
    <img src="{{i.photo}}" />
    <ion-button> <ion-icon name="cart"></ion-icon></ion-button>
  </ion-card>
</ion-content>
